body {
    font-family: "Crimson Text", "Times New Roman",serif;
    background-color: #F2FFFC;
    font-size: 120%;
	line-height: 1.5;
}
h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main h1{ /* h1, dentro do main*/
    font-size: 60px;  /*tamanho da fonte*/
    background-color: #851944;
    /**background-color: rgb(120, 30, 60); /* rgb de 0 até 255 na ordem, red, green blue*/
    color:  #FFF; /* 250 255 250, em hexadecimal*/ 
    text-align: center; /* centraliza o texto*/
    border-bottom: 10px solid black;
    padding: 25px; /* espaçamento entre o texto e a borda*/
    text-transform: uppercase; /*coloca maiusculo*/
}
main a {
	color: #851944;
}
h2{ 
    font-family: "Open Sans Condensed", "Arial", sans-serif;  /*se não tiver a fonte Open Sans ele coloca Arial se não tiver Arial, coloca sans-serif que é default do navegador*/
    font-size: 40px;
    /*clear: right; nenhum h2 pode ter um float a sua direita*/
    clear: both; /* não pode ter float em nenhum dos dois lados*/
}
p{
    text-align: justify;
    margin: 30px 0;
}
blockquote{
    background-color: #D3DDDA;
    border: 10px solid #C2CCCA;/*adicionando borda em volta do blockquote, tamanho borda + tipo borda + cor borda*/
    /*
    tipos de borda:
    solid = solida
    dashed = trasejado
    doted 
    entre outras
    */
    padding: 16px;
    width: 250px; /*largura borda / blockquote*/
    margin: 0; /* remodela a margem do elemento blockquote*/
    box-sizing: border-box; /* faz contar o tamanho do blockquote(250) de borda a borda*/
}
.experiencia-blockquote{
    float: left;
    margin: 10px;
}
.como-trabalho-blockquote{
    float: right;
    margin: 10px;
}
strong{
    font-weight: 600;
}
em{
    font-style: italic;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family:  "Open Sans Condensed", sans-serif;
    border: 10px solid #000;
    width: 250px;
    box-sizing: border-box;
    clear: right;
    float: right;
    width: 15%;
    position: absolute;
    top: 310px;
    right: 0px;
}
nav h1{
    font-size: 30px;
    margin-bottom: 25px;

}

nav a {
    color: inherit;
    text-transform: lowercase;
}
.rodape-css {
	background-color: #000;
    color: #F2FFFC;
    clear: both;
    position: fixed;  /* rodapé vai andar junto com a barra de rolagem*/
    bottom: 0;
    width: 100%;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

blockquote, .navegacao-site, footer {
    padding: 20px;
}
main div {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site {
	text-align: center;
}
.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

.leia-mais{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #E6E7E8;
    display: block;
}
.icones-sociais li{
    display: inline-block;
}
.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px; /*joga um valor alto pro texto sair da tela*/
}
/* image replacement*/
.github{
    background-image: url(../img/github.png);
}
.linkedin{
    background-image: url(../img/linkedin.png);
}
.twitter{
    background-image: url(../img/twitter.png);
}
.joao-foto{
    position: absolute;
    top: 0;
    right: 0px;
    border: 10px solid #000;
}
main{
    float: left;
    width: 85%;
    
}
cite{
    font-style: italic;
}